@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.highlightClass {
  font-weight: 600;
  background-color: transparent;
}

body {
  font-family: "Roboto", sans-serif;
}
